section.titlepage h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 4em;
}

section.titlepage h2 {
    font-size: 1.1rem;
    text-align: center;
}

section.titlepage h4 {
    font-size: 0.95rem;
    text-align: center;
}

h1 {
    text-align: center;
}

div.center {
    text-align: center;
}

div.space4 {
    height: 80pt;
}

blockquote {
    text-align: right;
    font-size: 0.9em;
    font-style: italic;
    /* max-width: 65%; */
}